
::selection{
    background-color: #4eb1ff73;
}


body{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.39);
    color: #35383c;
    font-family: 'Montserrat', sans-serif;
}

/*         NAVBAR         */

#baseNavbar {
    background-color: #b5c6ff;
    font-family: 'Arvo', serif;
    font-size: 1.5rem;
}

#blogLogo{
    width: 90px;
    height: 75px;
    border-radius: 50%;
}

.input_field:focus  {
    border-color: #1b9dff;
    box-shadow: none;
}

#navbarSearchForm input[type=text]{
    width: 100%;
}

.profile_pic{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    padding-bottom: 5px;
}


.teacher-area{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.enroll-assignment-link{
    color: #00a1ff;
}

.enroll-assignment-link-completed{
    color: #00cc66;
}

.enroll-assignment-link-deadline{
    color: #ee2222;
}

.grade-green{
    color: #00cc66;
}

.grade-red{
    color: #ee2222;
}

.missed-deadline{
    color: #ee2222 !important;
}
