{% extends 'base.html' %}

{% block title %}
    Manager | Delete Course Instance
{% endblock %}


{% block content %}
    <div class="container">
        <h2>Are you sure that you want to delete course instance: '{{ course_instance.sub_title }}'?</h2>
        <p class="text-muted">{{ course_instance.start_date }} - {{ course_instance.end_date }}</p>
        <p>Min. Average Mark: {{ course_instance.min_mark }}</p>
        <p>{{ course_instance.course.description }}</p>

        <hr>
        <form class="mt-4" method="POST">
            {% csrf_token %}
            <input type="submit" value="Confirm Delete" class="btn btn-danger">
            <a href="{% url 'courses:course-instance-manager-detail' course_slug=course_instance.course.slug instance_slug=course_instance.slug %}"
               class="btn btn-primary ml-2">
                Cancel
            </a>
        </form>
    </div>
{% endblock %}
