{% extends 'base.html' %}

{% block title %}
    Course Instance Details
{% endblock %}


{% block content %}
    <div class="container">
    {% if is_enrolled %}
        <h1>You are enrolled in this course</h1>
        <h2 class="mt-4 mb-3">{{ course_instance.sub_title }}</h2>
        <p>{{ course_instance.course.description }}</p>

        {% if course_instance.course_assignments.all %}
            <h2 class="mt-4">Assignments</h2>
            <ul>
                {% for pa in current_enroll.personal_assignments.all %}
                    <li>
                        <a href="{{ pa.get_absolute_url }}"
                           class="enroll-assignment-link{% if pa.is_completed %}-completed
                           {% elif pa.is_deadline_missed and not pa.is_completed %} missed-deadline{% endif %}">
                            {{ pa.course_instance_assignment.title }}
                        </a>
                        {% if pa.is_completed %}
                            <i class="fas fa-check completed_icon"></i>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <h2 class="mt-4">There are no assignments yet.</h2>
        {% endif %}

        <h5>Average Grade: <span class="grade{% if current_enroll.average_mark > current_enroll.course_instance.min_mark %}-green{% else %}-red{% endif %}">{{ current_enroll.average_mark }}</span></h5>


        <a href="{% url 'courses:unenroll' course_slug=course_instance.course.slug instance_slug=course_instance.slug %}"
           class="btn btn-danger mt-4">
            Unenroll
        </a>

    {% else %}
        <h1 class="mb-3 text-center">Active Course</h1>
        <h1 class="mb-3">{{ course_instance.sub_title }}</h1>
        <p>{{ course_instance.course.description }}</p>
        <a href="{% url 'courses:enroll' course_slug=course_instance.course.slug instance_slug=course_instance.slug %}" class="btn btn-primary mt-4">Enroll</a>
    {% endif %}
    </div>
{% endblock %}