{% extends 'base.html' %}

{% block title %}
    Teacher | Enroll
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="mb-4">Enroll Detail</h1>

        <div class="enroll-personal-details">
            <p>Student: {{ enroll.student }}</p>
            <p>
                Course: <a href="{% url 'courses:course-instance-teacher-detail' course_slug=enroll.course_instance.course.slug instance_slug=enroll.course_instance.slug %}">{{ enroll.course_instance }}</a>
            </p>
            <p>First Name: {{ enroll.student.profile.first_name }}</p>
            <p>Last Name: {{ enroll.student.profile.last_name }}</p>
            <p>Average Mark: {{ enroll.average_mark }}</p>
        </div>

    <div class="enroll-assignments mt-4">
        <h2>Personal Assignments</h2>
        {% if enroll.personal_assignments %}
            {% for personal_assignment in enroll.personal_assignments.all %}
                <p>
                    <a href="{% url 'courses:personal-assignment-teacher-detail' course_slug=enroll.course_instance.course.slug instance_slug=enroll.course_instance.slug enroll_pk=enroll.pk assignment_pk=personal_assignment.pk %}"
                       class="enroll-assignment-link{% if personal_assignment.is_completed %}-completed{% endif %}">
                        {{ personal_assignment.course_instance_assignment.title }}
                    </a>
                    {% if personal_assignment.is_completed %}
                        <i class="fas fa-check completed_icon ml-2"></i>
                    {% endif %}
                </p>
            {% endfor %}

        {% else %}
            <p>There are no personal assignments.</p>
        {% endif %}
    </div>

    </div>
{% endblock %}


