{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Teacher | Personal Assignment Detail
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Personal Assignment: {{ personal_assignment.course_instance_assignment.title }}</h1>

        <div class="personal-assignment-teacher-info mt-4">
            <p>
                Enroll:
                <a href="{% url 'courses:enroll-teacher-detail' course_slug=personal_assignment.course_instance_assignment.course_instance.course.slug instance_slug=personal_assignment.course_instance_assignment.course_instance.slug enroll_pk=personal_assignment.enroll.pk %}">
                    {{ personal_assignment.enroll.student }}
                </a>
            </p>
            <p>
                Base Assignment:
                <a href="{% url 'courses:course-assignment-teacher-detail' course_slug=personal_assignment.course_instance_assignment.course_instance.course.slug instance_slug=personal_assignment.course_instance_assignment.course_instance.slug assignment_pk=personal_assignment.course_instance_assignment.pk %}">
                    {{ personal_assignment.course_instance_assignment.title }}
                </a>
            </p>
            <p>
                Student's Solution:
                {% if personal_assignment.answer_field %}
                    <pre>{{ personal_assignment.answer_field }}</pre>
                {% endif %}
            </p>
            <p>
                Attached File (Optional):
                {% if personal_assignment.answer_file %}
                    <a href="/media/{{ personal_assignment.answer_file }}">{{ personal_assignment.answer_file.name }}</a>
                {% endif %}
            </p>

            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Save</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}


